.nav-tabs {
  display: flex;
  border-bottom: 1px solid $border-color;
  margin: 0 16px;
}

.nav-tab {
  display: flex;
  padding: 16px 0;
  margin-right: 32px;
  color: $secondary-color;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  border-bottom: 2px solid transparent;
  transition: all 0.2s;

  &.active {
    color: $primary-color;
    border-bottom-color: $primary-color;
  }

  &:hover {
    background: $light-gray;
  }
}

.more-options {
  margin-left: auto;
  padding: 1px 12px;
  background: $bg-color;
  border-radius: 12px;
  color: $secondary-color;
  font-size: 20px;
  cursor: pointer;
}
.profile-details {
 display: grip;
}
.send-message {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  background-color: #1877f2;
  border: none;
  box-shadow: none;
  outline: none;

  &:hover {
    background-color: darken(#1877f2, 10%);
    cursor: pointer;
  }
}
.like {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  background-color: #1877f2;
  border: none;
  box-shadow: none;
  outline: none;

  &:hover {
    background-color: darken(#1877f2, 10%);
    cursor: pointer;
  }
}
.search {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  background-color: #1877f2;
  border: none;
  box-shadow: none;
  outline: none;

  &:hover {
    background-color: darken(#1877f2, 10%);
    cursor: pointer;
  }
}
