$primary-color: #1877f2;
$secondary-color: #65676b;
$bg-color: #f0f2f5;
$text-color: #1c1e21;
$success-color: #42b883;
$light-gray: #f2f3f4;
$border-color: #dadde1;



$font-main: 'Roboto', sans-serif;